*{
    margin:0;
    padding: 0;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(3, 1, 8);
}

.logo{
    display: flex;
    color: white;

}

.menu .categoria{
    margin-right: 10px
}

.lupa-carrinho{
    display: flex;
    align-items: center;
    justify-items: flex-end;
    float: right;
   
}

.lupa-carrinho a img{
    align-items: center;
    width: 20px;
    height: auto;
    margin-left: 20px;
}

.lupa-carrinho input {
    background-color: transparent;
    position: relative;
    left: 0;
    color: white;
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
}



