*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.backgroud{
  background-color: #ffff;
  padding: 50px 0;

}
.container{
  max-width: 90%;
  margin: auto;
}
.barra {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
